


<div class="container login-body">

    <div class="row ">
     
 
     <div class="col-md-6">
 
       <h1 class="text-primary"> Admin  Welcome To Nigeria FIRS  Tax Management System </h1>
 
       </div>
 
       
         <div class="col-md-4 card-body bg-light">
              <form [formGroup]="FormData" (ngSubmit) = "ProcessForm(FormData.value)"> 
           <h3 class="text-primary" style="margin-bottom: 50px;"> Pls Signin To Your Admin Account </h3>
           <span *ngIf="Loading"> Loadin...............</span>

           <div *ngIf="InvalidUser" class="alert alert-danger">
             Invalid Email/Password Combination 
           </div>
             
 
             <div class="form-group">
              <label> Email:</label>
 
               <input type="email" class="form-control" placeholder="Enter Your Email" formControlName="Email">
                 </div>
       <div *ngIf="Submitted && f.Email.errors " class="alert alert-danger">
 <span  *ngIf = " f.Email.errors.required ">  Email is Required</span>
 <span  *ngIf = " f.Email.errors.pattern ">  Email is Not Valid</span>
 
                </div>
 
                <div class="form-group">
 
                 <label> Password:</label>
 
                 <input type="password" class="form-control" placeholder="Enter Your Password" formControlName="Password">
                     </div>
 
                     <div *ngIf="Submitted && f.Password.errors " class="alert alert-danger">
                       <span  *ngIf = " f.Password.errors.required ">  Password is Required</span>
 
                       <span  *ngIf = " f.Password.errors.minlength ">  Password Must be more than six characters</span>
                                      </div>
                 <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Login To Account">
     
                    </div>
              </form>
 
                 
 
          <div style="margin-top: 50px;">
 
         Don't Have Account Yet ?  <a [routerLink] ="['/Admin/Register']" >  <button class="btn btn-success btn-block"> Please Register Here</button> </a>  
          </div>
        
        
        
                 </div>
 
 
   </div>
 
 
 
 